{
	"env": {
		"browser": true,
		"jest": true
	},
	"extends": ["plugin:react/recommended", "plugin:prettier/recommended"],
	"plugins": ["jsx-a11y", "import", "react-hooks"],
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 9,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"rules": {
		"comma-dangle": ["error", "never"],
		"react/jsx-indent": ["error", "tab"],
		"react/jsx-no-literals": 0,
		"react/prop-types": 0,
		"import/no-extraneous-dependencies": [
			"error",
			{
				"devDependencies": true
			}
		],
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn"
	}
}
