name: Test

on:
  pull_request:
    branches: [main]
    paths:
      - 'src/**'
      - '__tests__/**'
      - yarn.lock
      - .nvmrc

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test_pull_request:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
      - run: yarn install --frozen-lockfile
      - run: yarn run coverage
      - run: yarn run build
