name: Report Test Coverage

on:
  push:
    branches: [main]

jobs:
  report_test_coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14.17.6
      - run: yarn install --frozen-lockfile
      - run: yarn run coverage
      - uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}